*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	background-color: #eee;
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}

a:hover {
	text-decoration: none;
}


header {
	background: #4f9fd5;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header a {
	color: #e3e5e8;
}

.header-line {
	background-color: #a94652;
	min-height: 3px;
	top: 60px;
	width: 100%;
	position: absolute;
}

.header__logo {
	min-height: 40px;
	width: 170px;
	padding: 10px 0;
	position: relative;
}

.search {
	position: relative;
	margin: 16px 0;
	max-width: 180px;
}

.search__input {
	padding: 4px 35px 4px 4px;
	width: 179px;
	border: 1px solid #e3e6e7;
	background-color: #fff;
	outline: none;
}

.search__submit {
	background: url('../images/search__submit.png') 0 0 no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	border: none;
	position: absolute;
	top: 25%;
	right: 10px;
	padding: 0;
}


.header__top {
	height: 63px;
	width: 100%;
	background-color: #000;
	position: absolute;
	opacity: .4;
}

.header-title {
	opacity: none !important;
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 60px;
	text-align: right;
	text-transform: uppercase;
	margin-top: 80px;
	font-weight: 900;
	text-shadow: 3px 2px 2px rgba(150, 150, 150, 1);
}

.menu__item {
	padding-top: 8px;

}

.menu__item .menu__link {
	padding: 8px 13px;
	border-left: 1px #898887 solid;
	border-radius: 0;
}

.menu__link-first {
	border: none !important;
}

.menu__item .menu__link:hover {
	opacity: 0.8;
}

.menu__item a span {
	font-family: "OpenSans";
	font-size: 18px;
}


.title-line hr {
	background-color: #5da752;
	min-height: 3px;
	margin-top: 30px;
	margin-bottom: 32px;
}

.title-title {
	font-size: 25px;
	font-family: "OpenSansBold";
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}

/* ----- header End ------ */


.content {
	margin: 5%;

	background-color: rgb(229, 241, 255);
	min-height: calc(100vh - 224px);
	border-radius: 4px;
	box-shadow: 2px 2px 5px rgba(200, 200, 200, .9);
}


.select-file {
	font-size: 20px;
	color: #a94652;
	padding: 4% 0 0 5%;
}

.file-upload {
     position: relative;
     overflow: hidden;
     width: 17%; 
     height: 35px;
     background: #6da047;
     border-radius: 2px;
     padding: 8px 4px;
     color: #fff;
     text-align: center;
     margin: 0 5%;
}

.file-upload:hover {
     background: #7aad55;
}

.file-upload input[type="file"]{
    display: none;
}

.file-upload label {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}

.file-upload span {
     line-height: 36px;
}

.filename {
	margin-top: 10px;
	margin-left: 5%;
    background: rgb(229, 241, 255);
    border: 0;
    width: 85%;
}
.submit-button {
	 background: #6da047;
     border-radius: 2px;
     padding: 8px 4px;
     color: #fff;
     text-align: center;
     border: none;
     margin: 10px;
 }

/* -----   footer Begin   ----- */
.footer__bottom {
	background-color: #446;
	height: 25px;
}

.footer__bottom-copyright {
	color: #ccc;
	opacity: .8;
	font-family: "OpenSans";
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 5px;
}
/* -----   footer End   ----- */
#takeAnotherLoginMessage{
	text-align: center;
	color: red;
}