/* font-family: "OpenSans"; */
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/OpenSans.eot");
	src: url("../fonts/OpenSans/OpenSans.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSans/OpenSans.woff") format("woff"),
	url("../fonts/OpenSans/OpenSans.woff2") format("woff2"),
	url("../fonts/OpenSans/OpenSans.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "OpenSansBold"; */
@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSansBold/OpenSans-Bold.eot");
	src: url("../fonts/OpenSansBold/OpenSans-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansBold/OpenSans-Bold.woff") format("woff"),
	url("../fonts/OpenSansBold/OpenSans-Bold.woff2") format("woff2"),
	url("../fonts/OpenSansBold/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
