*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}

a {
	color: #000;
}
a:hover {
	text-decoration: none;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

 .spoiler_body {display:none;}
 .spoiler_links {cursor:pointer;}


header {
	background-image: url(../images/bg-img.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header a {
	color: #e3e5e8;
}

.search {
	position: relative;
	margin: 16px 0;
	max-width: 180px;
}

.search__input {
	padding: 0 35px 0 4px;
	width: 179px;
	border: 1px solid #e3e6e7;
	background-color: #fff;
	outline: none;
}

.search__submit {
	background: url('../images/search__submit.png') 0 0 no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	border: none;
	position: absolute;
	top: 25%;
	right: 10px;
	padding: 0;
}

.header-title {
	opacity: none !important;
	color: #fff;
	font-family: "OpenSansBold";
	font-size: 60px;
	text-align: right;
	text-transform: uppercase;
	margin-top: 80px;
	font-weight: 900;
	text-shadow: 3px 2px 2px rgba(150, 150, 150, 1);
	margin-right: 100px;
}

.language-button {
	margin-top: -22px;
}
/* ----- nav Begin ----- */
.header-fluid {
	background: rgba(0, 0, 0, .4);
	border-bottom: 3px #a94652 solid;
}

nav {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 0 15px;
  overflow: hidden;
}

nav .logo-box {
  float: left;
}

nav .logo {
  margin: 0;
  height: 50px;
  text-align: center;
}

nav .logo img {
	margin-top: 10px;
	width: 170px;
}

nav ul {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 60px;
  line-height: 33px;
  text-align:center;
}

nav a {
	font-family: 'OpenSans';
	font-size: 18px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
nav li a {
  color: #e3e5e8;
}
nav li {
  display: inline-block;
  margin-left: 15px;
}

nav li:first-child, li:last-child {
	border: none;
}

nav li.search {
	margin-left: 10px;
	position: relative;
	margin-bottom: 10px;

}

@media screen and (max-width:1030px) {
	nav {
		padding: 0 0 25px;
	}
	li.search {
		float: right;
    	margin-left: 15px !important;
	}
}

@media screen and (max-width:574px) {
nav   .logo-box {
    float: none;
    margin: 0 auto;
  }
nav   ul {
    float: none;
    margin: 0 25px;
    }
nav  li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
	.header-title {
		display: none;
	}
	.search {display: none;}
nav {
  overflow: visible
}
nav ul {
  height: auto;
  margin: 25px 25px 0 25px;
  line-height: 50px;
}
nav li {
  display: block;
  margin: 0;
}
nav li a {
	width: 200px;
	background: rgba(0, 0, 0, .4);
}

nav li:hover {
  background: rgba(0,0,0,.1)
}
nav li a:after {
  content: none;
}
}

/* ----- nav End ----- */


/* ------   news Begin   ----- */
.news {
	padding-bottom: 60px;
	background-color: #dfeddc;
}

.news-line hr {
	background-color: #5da752;
	min-height: 3px;
	margin-top: 45px;
	margin-bottom: 32px;
}

.news-title {
	font-size: 24px;
	font-family: "OpenSansBold";
	text-transform: uppercase;
	text-align: center;
	margin-top: 28px;
}

.news .col-md-3, .col-md-2 {
	margin-right: 0;
	margin-left: 0;	
	padding-right: 0;
	padding-left: 0;
}

.news__block {
	border: 1px #5da752 solid;
	min-height: 520px;
	background-color: #fff;
}

.news__block img {
	width: 100%;
	position: relative;
}

.news__block-title h2 {
	margin: 15px 5px;
	color: #5da752;
	font-family: "OpenSansBold";
	font-size: 23px;
	text-align: center;
}


.news__block-content-hidden {
	height: 155px;
	margin: 15px;
	margin-bottom: 40px;
	overflow: hidden;
}

.news__block-content {
	font-family: "OpenSans";
	font-size: 16px;
}

.news__block-switch {
	transition-duration: 0.15s;

	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 15px;
	width: 42px;
	height: 42px;
	background-color: #5da752;

	color: #fff;
	font-weight: bold;
	font-size: 33px;
	text-align: center;
}

.news__block-hiden-text {
	display: none;
	margin: 15px;
	margin-bottom: 40px;
	overflow: hidden;
	font-family: "OpenSans";
	font-size: 16px;
}

.news__block-switch:hover {
	z-index: 999;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
.news__block-switch-up {
	transition-duration: 0.15s;

	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 15px;
	width: 42px;
	height: 42px;
	background-color: #5da752;

	color: #fff;
	font-weight: bold;
	font-size: 33px;
	text-align: center;
}
.news__block-switch-up:hover {
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

/* -----   news End   ----- */

/* -----   catalog Begin   ----- */
.catalog {
	padding-bottom: 20px;
}

.catalog__block {
	margin: 5px auto;
	padding: 15px 63px;
	background: #fff;
	box-shadow: 0 0 8px rgba(120, 120, 120, 0.5);
}

.catalog__block img {
	height: 50px;
	margin: 0 auto;
	display: block;
}


.catalog__block-united img{
	display: inline-block;
	padding-left: 20%;
}

.catalog__block-other img{
	display: inline;
	height: 100%;
	width: 19%;
}

.catalog__block:hover {
	box-shadow: inset 1px 1px 8px rgba(100, 100, 100, .7);
}

.catalog__block:hover img {
		padding-top: 3px;
}


.catalog__block-down {
	box-shadow: 0 0 8px rgba(120, 120, 120, 0.5);
	margin: 0 50px 5px 50px;
	text-align: center;
}
.catalog__block-down img{
	height: 50px;
	margin: 0 auto;
	display: block;
}

/* -----   catalog End   ----- */


/* -----   advantages Begin   ----- */
.advantages {
	background: url('../images/bg-advantages.jpg') 0 0 no-repeat;
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 572px;
}


.advantages-line hr {
	background-color: #fff;
	min-height: 3px;
	margin-top: 45px;
	margin-bottom: 32px;
}

.advantages-title {
	color: #fff;
	font-size: 24px;
	font-family: "OpenSansBold";
	text-transform: uppercase;
	text-align: center;
	margin-top: 28px;
}

.advantages__block {
	width: 100%;
	margin: 20px auto;
}

.advantages__block-wrapper {
	background-color: #fff;
	border-radius: 8px;
	width: 100%;

	-webkit-box-shadow: inset 0px -28px 104px -14px rgba(176,176,176,.7);
	-moz-box-shadow: inset 0px -28px 104px -14px rgba(176,176,176,.7);
	box-shadow: inset 0px -28px 104px -14px rgba(176,176,176,.7);
}

.advantages__block-rectangle {
	background-color: #da251c;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;

	height: 20px;
}

.advantages__block-circle {
	width: 150px;
	height: 150px;
	margin: 60px auto 40px auto;
	border-radius: 50%;
	box-shadow: inset 28px -28px 40px -25px rgba(176,176,176,.5), inset 28px 28px 40px -25px rgba(176,176,176,.5), inset -28px -28px 40px -25px rgba(176,176,176,.5),  inset -28px 28px 40px -25px rgba(176,176,176,.5);
}

.advantages__block-circle-first {
	background: url(../images/advantages-img1.png) center no-repeat;
}

.advantages__block-circle-second {
	background: url(../images/advantages-img2.png) center no-repeat;
}

.advantages__block-circle-third {
	background: url(../images/advantages-img3.png) center no-repeat;
}

.advantages__block-title {
	color: #000;
	font-family: "OpenSansBold";
	font-size: 20px;
	text-align: center;
}

.advantages__block-content {
	padding: 10px 30px;
	color: #000;
	font-family: "OpenSans";
	font-size: 16px;
}
/* -----   advantages End   ----- */


/* -----   customers Begin   ----- */
.carousel {
	overflow: hidden;
  height: 150px !important;
}

.carousel-inner img {
  height: 70px;
  width: 150px;
  margin: 40px auto;
  display: inline-block !important;
}

.carousel-empty {
	width: 100px;
  display: inline-block !important;
}
.glyphicon-chevron-right {
	font-size: 50px;
	margin-right: -90px !important;
}

.glyphicon-chevron-left {
	margin-left: -90px !important;
}

.carousel-control {
	color: #d6d6d6;
	background-image: none !important; 
}
/* -----   customers End   ----- */


/* -----   footer Begin   ----- */
.footer {
	background-color: #1f1a17;
}

.footer__top {
	color: #eaeaea;
}

.footer__top-logo {
	margin: 0 auto;
	padding-top: 24px;
}

.footer__top-phone {
	padding: 20px;
}

.footer__top-phone-icon {
	display: inline-block;
	font-size: 25px;
}

.footer__top-phone-icon-float {
	padding-bottom: 15px;
}

.footer__top-phoneNumber {
	font-size: 18px;
	font-family: "OpenSansBold";
	display: inline;
}

	/*footer menu*/

.menu__item {
	padding-top: 8px;

}

.footer__menu__item .footer__menu__link {
	padding: 40px 13px;
	border-radius: 0;
}


.footer__menu__item .footer__menu__link:hover {
	opacity: 0.6;
	background: none;
}

.footer__menu__item a span {
	font-family: "OpenSans";
	font-size: 14px;
	color: #eaeaea;
	text-decoration: underline;
}

.footer__bottom {
	background-color: #fff;
}

.footer__bottom-copyright {
	color: #000;
	opacity: .8;
	font-family: "OpenSans";
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 10px;
}
/* -----   footer End   ----- */

.scrollup{
width:45px;
height:45px;
opacity:.7;
position:fixed;
bottom:50px;
right:45px;
display:none;
border-radius: 7%;
	background-color: #5da752;

	color: #fff;
	font-weight: bold;
	font-size: 33px;
	text-align: center;
}


.scrollup:link { color: #fff; }
.scrollup:visited { color: #fff; }

.scrollup:hover { 
	opacity:.9;
	color: #fff; }
	
.scrollup:active { color: #fff; }

/*fixedButton Begin*/
#slideout {	writing-mode: vertical-lr;
	color: #fff;
	opacity: .9;
	font-family: "OpenSans";
	cursor: pointer;
			position: fixed;
			top: 40%;
			left: 0;
			width: 35px;
			padding: 12px 0;
			text-align: center;
			background: #6DAD53;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			border-radius: 0 5px 5px 0;
			z-index: 101;
		}
		#slideout_inner {
			writing-mode: horizontal-tb;
			color: #fff;
			font-family: "OpenSansBold";
			font-size: 15px;
			position: fixed;
			top: 40%;
			left: -350px;
			background: #6DAD43;
			width: 300px;
			padding: 28px;

			text-align: left;
 
		}

		#slideout:hover {
			opacity: 0.7;
			left: 300px;
		}
		#slideout:hover #slideout_inner {
			left: 0;
		}
/*fixedButton End*/