*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}

a:hover {
	text-decoration: none;
}

td {
	word-wrap: break-word;
}

header {
	background: #4f9fd5;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header a {
	color: #e3e5e8;
}

.search {
	position: relative;
	margin: 16px 0;
	max-width: 180px;
}

.search__input {
	padding: 4px 35px 4px 4px;
	width: 179px;
	border: 1px solid #e3e6e7;
	background-color: #fff;
	outline: none;
}

.search__submit {
	background: url('../images/search__submit.png') 0 0 no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	border: none;
	position: absolute;
	top: 25%;
	right: 10px;
	padding: 0;
}

.language-button {
	margin-top: -22px;
}

/* ----- nav Begin ----- */
.header-fluid {
	background: rgba(0, 0, 0, .4);
	border-bottom: 3px #a94652 solid;
}

nav {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 0 15px;
  overflow: hidden;
}

nav .logo-box {
  float: left;
}

nav .logo {
  margin: 0;
  height: 50px;
  text-align: center;
}

nav .logo img {
	margin-top: 10px;
	width: 170px;
}

nav ul {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 60px;
  line-height: 33px;
  text-align:center;
}

nav a {
	font-family: 'OpenSans';
	font-size: 18px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
nav li a {
  color: #e3e5e8;
}
nav li {
  display: inline-block;
  margin-left: 15px;
}

nav li:first-child, li:last-child {
	border: none;
}

nav li.search {
	margin-left: 10px;
	position: relative;
	margin-bottom: 10px;

}

@media screen and (max-width:1030px) {
	nav {
		padding: 0 0 25px;
	}
	li.search {
		float: right;
    	margin-left: 15px !important;
	}
}

@media screen and (max-width:574px) {
nav   .logo-box {
    float: none;
    margin: 0 auto;
  }
nav   ul {
    float: none;
    margin: 0 25px;
    }
nav  li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
	.header-title {
		display: none;
	}
	.search {display: none;}
nav {
  overflow: visible
}
nav ul {
  height: auto;
  margin: 25px 25px 0 25px;
  line-height: 50px;
}
nav li {
  display: block;
  margin: 0;
}
nav li a {
	width: 200px;
	background: rgba(0, 0, 0, .4);
}

nav li:hover {
  background: rgba(0,0,0,.1)
}
nav li a:after {
  content: none;
}
}

/* ----- nav End ----- */



.title-line hr {
	background-color: #5da752;
	min-height: 3px;
	margin-top: 30px;
	margin-bottom: 32px;
}

.title-title {
	font-size: 25px;
	font-family: "OpenSansBold";
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}



/* ----- header End ------ */
.market {
	min-height: calc(100vh - 209px);
}

.market__left-menu {
	background: #eef9ec;
	color: #666;
	font-family: "OpenSans";
	font-size: 16px;
	border-radius: 6px;
	padding: 5px;
}


.market__left-menu-search {
	position: relative;
	margin: 10px 0 10px 15px;
	max-width: 180px;
}

.market-search__input {
	padding: 4px 35px 4px 4px;
	width: 179px;
	border: 1px solid #e3e6e7;
	background-color: #fff;
	outline: 1px #86e985 solid;
}

.manufact-button {
	margin-top: 25px;
}

.manufact-button-other {
	margin-left: 10px;
}
input[type="button"] { 	margin: 5px;
	width: 130px;
	padding: 9px 20px;
    border: none;
    border-radius: 5px;
    background: #4f9fd5;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    box-shadow: inset 0px 0px 3px #444;
    outline: none;
    display: block;
}
input[type="search"]::-webkit-input-placeholder { color: rgba(50, 50, 50, .4); font-weight: bold; } 
input[type="search"]::-moz-placeholder { color: rgba(50, 50, 50, .4); font-weight: bold;} 

.market-search__submit {
	background: url('../images/search__submit.png') 0 0 no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	border: none;
	position: absolute;
	top: 3%;
	right: 10px;
	padding: 0;
}



.submit-button {
	margin: 5px;
	padding: 9px 15px;
    border: none;
    border-radius: 5px;
    background: #66c965;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
    box-shadow: inset 0px 0px 3px #444;
    outline: none;
}

.submit-button:hover {
	 box-shadow: inset 1px 1px 3px #444;
}

.search-button{
	background-color: #6DAD53;
	border:none;
	border-radius: 5px;
	outline: none;
	color: #fff;
}

/*     up-button Begin     */

.scrollup{
width:45px;
height:45px;
opacity:.7;
position:fixed;
bottom:50px;
right:45px;
display:none;
border-radius: 7%;
	background-color: #5da752;

	color: #fff;
	font-weight: bold;
	font-size: 33px;
	text-align: center;
}


.scrollup:link { color: #fff; }
.scrollup:visited { color: #fff; }

.scrollup:hover { 
	opacity:.9;
	color: #fff; }
	
.scrollup:active { color: #fff; }

/*     up-button End     */

/*     fixedButton Begin     */
#slideout {	writing-mode: vertical-lr;
	color: #fff;
	opacity: .9;
	font-family: "OpenSans";
	cursor: pointer;
			position: fixed;
			top: 60%;
			left: 0;
			width: 35px;
			padding: 12px 0;
			text-align: center;
			background: #6DAD53;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-border-radius: 0 5px 5px 0;
			-moz-border-radius: 0 5px 5px 0;
			border-radius: 0 5px 5px 0;
			z-index: 101;
		}
		#slideout_inner {
			writing-mode: horizontal-tb;
			color: #fff;
			font-family: "OpenSansBold";
			font-size: 15px;
			position: fixed;
			top: 60%;
			left: -350px;
			background: #6DAD43;
			width: 300px;
			padding: 28px;

			text-align: left;

		}

		#slideout:hover {
			opacity: 0.7;
			left: 300px;
		}
		#slideout:hover #slideout_inner {
			left: 0;
		}
/*     fixedButton End     */
.next:disabled{
	opacity: 0.5 ;
}


/* -----   footer Begin   ----- */
.footer {
	background-color: #1f1a17;
}

.footer__top {
	color: #eaeaea;
}

.footer__top-logo {
	margin: 0 auto;
	padding-top: 24px;
}

.footer__top-phone {
	padding: 20px;
}

.footer__top-phone-icon {
	display: inline-block;
	font-size: 25px;
}

.footer__top-phone-icon-float {
	padding-bottom: 15px;
}

.footer__top-phoneNumber {
	font-size: 18px;
	font-family: "OpenSansBold";
	display: inline;
}

/*footer menu*/

.menu__item {
	padding-top: 8px;

}

.footer__menu__item .footer__menu__link {
	padding: 40px 13px;
	border-radius: 0;
}


.footer__menu__item .footer__menu__link:hover {
	opacity: 0.6;
	background: none;
}

.footer__menu__item a span {
	font-family: "OpenSans";
	font-size: 14px;
	color: #eaeaea;
	text-decoration: underline;
}

.footer__bottom {
	background-color: #fff;
}

.footer__bottom-copyright {
	color: #000;
	opacity: .8;
	font-family: "OpenSans";
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 10px;
}
/* -----   footer End   ----- */
.menu__item {
	padding-top: 8px;

}

.footer__menu__item .footer__menu__link {
	padding: 40px 13px;
	border-radius: 0;
}


.footer__menu__item .footer__menu__link:hover {
	opacity: 0.6;
	background: none;
}

.footer__menu__item a span {
	font-family: "OpenSans";
	font-size: 14px;
	color: #eaeaea;
	text-decoration: underline;
}

.footer__bottom {
	background-color: #fff;
}

.footer__bottom-copyright {
	color: #000;
	opacity: .8;
	font-family: "OpenSans";
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 10px;
}
/* -----   footer End   ----- */