<footer>
    <div class="footer">
        <div class="container footer__top" id="contacts">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <a href="/"><img src="../images/logo.jpg" class="footer__top-logo"></a>
                </div>
                <div class="col-md-6  hidden-sm hidden-xs">



                    <ul class="nav nav-pills menu">
                        <li class="footer__menu__item">
                            <a href="/#about" class="footer__menu__link">
                                <span class="footer__menu__link-text"><%- aboutUs %></span>
                            </a>
                        </li>
                        <li class="footer__menu__item">
                            <a href="/#news" class="footer__menu__link">
                                <span class="footer__menu__link-text"><%- news %></span>
                            </a>
                        </li>
                        <li class="footer__menu__item">
                            <a href="/#catalog" class="footer__menu__link">
                                <span class="footer__menu__link-text"><%- catalog %></span>
                            </a>
                        </li>
                        <li class="footer__menu__item">
                            <a href="/#advantages" class="footer__menu__link">
                                <span class="footer__menu__link-text"><%- ourAdvantages %></span>
                            </a>
                        </li>
                    </ul>




                </div>
                <div class="col-md-4 col-sm-7 col-xs-12">
                <div class="footer__top-phone">
                    <div class="footer__top-phone-icon">
                        <div class="glyphicon glyphicon-earphone footer__top-phone-icon-float">
                            <div class="footer__top-phoneNumber">
                                +38 (067) 320-30-11 
                            </div>
                        </div>
                    </div>
                    <div class="footer__top-phone-icon">
                        <div class="glyphicon glyphicon-envelope footer__top-phone-icon-float">
                            <div class="footer__top-phoneNumber">
                                danyliukmikhailo@gmail.com
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="footer__bottom-copyright">Agriсo group © 2016. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>