<header id="header">
<div class="container-fluid header-fluid">
    <nav>
    <div class="logo-box">
      <div class="logo">
        <a href="/">
          <img src="../images/logo.jpg">
        </a>
      </div>
    </div>
    <ul id="menu">
      <li><a href="#news">
          <span class="menu__link-text frontend" name="news"><%- news %></span>
      </a></li>
      <li>|</li>
      <li><a href="#catalog">
          <span class="menu__link-text frontend" name="catalog"><%- catalog %></span>
      </a></li>
      <li>|</li>
      <li><a href="#about">
          <span class="menu__link-text frontend" name="aboutUs"><%- aboutUs %></span>
      </a></li>
      <li>|</li>
      <li><a href="#advantages">
          <span class="menu__link-text frontend" name="ourAdvantages"><%- ourAdvantages %></span>
      </a></li>
      <li>|</li>
      <li><a href="#contacts">
          <span class="menu__link-text frontend" name="contacts"><%- contacts %></span>
      </a></li>
      <li class="search">
        <form action="" class="search__form">
            <input type="text" name="" id="" class="search__input">
            <input type="submit" name="" value="" class="search__submit">
        </form>
      </li>
      <div class=""></div>
   </ul>
  </nav>
  <div class="language-button">
   <a href="/ua">Укр</a>
   <a href="/ru">Рус</a>
  </div>
</div>
<div class="header-title"><h1>запчастини <br> до с/г <br> техніки</h1></div>
</header>
