<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agrico Group - Запчастини до с/г техніки</title>
    <meta content="" name="description" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="../stylesheets/fonts.css" />
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <!--<link rel="stylesheet" href="../stylesheets/admin.css" />-->
    <!--<link rel="stylesheet" href="../stylesheets/shop.css" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="css/media.css" /> -->
    <!--<script>-->
        <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
                    <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
                <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
        <!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

        <!--ga('create', 'UA-86218829-1', 'auto');-->
        <!--ga('send', 'pageview');-->

    <!--</script>-->


</head>