<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agrico Group - Запчастини до с/г техніки</title>
    <meta content="" name="description" />
    <link rel="shortcut icon" href="favicon.png" />

    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css " />
    <link rel="stylesheet" href="../stylesheets/fonts.css" />
    <link rel="stylesheet" href="../stylesheets/admin.css" />
    <link rel="stylesheet" href="../stylesheets/shop.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/media.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>


<!-- header Begin -->
<header id="header">
    <div class="container-fluid header-fluid">
        <nav>
            <div class="logo-box">
                <div class="logo">
                    <a href="/">
                        <img src="../images/logo.jpg">
                    </a>
                </div>
            </div>
            <ul id="menu">
                <li><a href="#news">
                        <span class="menu__link-text frontend" name="news"><%- news %></span>
                    </a></li>
                <li>|</li>
                <li><a href="#catalog">
                        <span class="menu__link-text frontend" name="catalog"><%- catalog %></span>
                    </a></li>
                <li>|</li>
                <li><a href="#about">
                        <span class="menu__link-text frontend" name="aboutUs"><%- aboutUs %></span>
                    </a></li>
                <li>|</li>
                <li><a href="#advantages">
                        <span class="menu__link-text frontend" name="ourAdvantages"><%- ourAdvantages %></span>
                    </a></li>
                <li>|</li>
                <li><a href="#contacts">
                        <span class="menu__link-text frontend" name="contacts"><%- contacts %></span>
                    </a></li>
                <li class="search">
                    <form action="" class="search__form">
                        <input type="text" name="" id="" class="search__input">
                        <input type="submit" name="" value="" class="search__submit">
                    </form>
                </li>
                <div class=""></div>
            </ul>
        </nav>
        <div class="language-button">
            <a href="/ua">Укр</a>
            <a href="/ru">Рус</a>
        </div>
    </div>
</header>
<!-- header End -->

<section class="content">

    <%-verification%>
    <div id="takeAnotherLoginMessage">

    </div>
    <!-- /container -->

</section>

<!-- footer Begin -->
<footer>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="footer__bottom-copyright">Agriсo group © 2016. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer End -->

<!--<script type="text/javascript">-->
    <!--$(document).ready( function() {-->
        <!--$(".file-upload input[type=file]").change(function(){-->
            <!--var filename = $(this).val().replace(/.*\\/, "");-->
            <!--$("#filename").val(filename);-->
        <!--});-->

    <!--});-->
<!--</script>-->
<script>

    function verificationPass(form){
        var login=document.getElementById('login').value;
        var password=document.getElementById('password').value;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText=='ok'){
                location.reload();
                }
                else{
                    document.getElementById('takeAnotherLoginMessage').innerHTML=xhr.responseText;
                }
            }

            if (xhr.readyState == 4 && xhr.status != 200) {
                alert('error');
            }
        };
        xhr.open('POST', '/verification', true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=utf-8");

        var data = 'login='+login+ '&password='+password ;
        xhr.send(data);
        return false;
    }

</script>
</body>
</html>