<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<%- include ../parts/head.ejs %>
<body>
<!-- header Begin -->
<%- include ../parts/header.ejs %>
<!-- header End -->

<!-- news Begin -->
<section class="news">
  <div  class="container" id="news">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3"><div class="news-line"><hr></div></div>
      <div class="col-md-4"><div class="news-title"><%- news %></div></div>
      <div class="col-md-3"><div class="news-line"><hr></div></div>
      <div class="col-md-1"></div>
    </div>

    <!-- news blocks Begin -->

    <div class="row">
      <div class="col-md-4">
        <div class="news__block">
          <a href=""><img src="../images/news-img1.jpg">
            <div class="news__block-title"><h2><%- titleNew1 %></h2></div></a>
          <div class="news__block-content-hidden"><div class="news__block-content">
              <%- new1 %>
            </div></div>
          <div class="news__block-switch-up" onclick="hideText(0)" >></div>
          <div class="news__block-switch" onclick="showText(0)" >></div>
          <div class="news__block-hiden-text">

            <%- fullNew1 %>
</div>
        </div></div>
      <div class="col-md-4">
        <div class="news__block">
          <a href=""><img src="../images/news-img2.jpg">
            <div class="news__block-title"><h2><%- titleNew2 %></h2></div></a>
          <div class="news__block-content-hidden"><div class="news__block-content">

              <%- new2 %>

            </div></div>
          <div class="news__block-switch-up" onclick="hideText(1)" >></div>
          <div class="news__block-switch" onclick="showText(1)" >></div>
          <div class="news__block-hiden-text">

            <%- fullNew2 %>


          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="news__block">
          <a href=""><img src="../images/news-img3.jpg">
            <div class="news__block-title"><h2><%- titleNew3 %></h2></div></a>
          <div class="news__block-content-hidden"><div class="news__block-content">


              <%- new3 %>



            </div></div>
          <div class="news__block-switch-up" onclick="hideText(2)" >></div>
          <div class="news__block-switch" onclick="showText(2)" >></div>
          <div class="news__block-hiden-text">


            <%- fullNew3 %>


          </div>
        </div>
      </div>
      <script type="text/javascript">


      </script>
    </div>
  </div>
  <!-- news blocks End -->
</section>
<!-- news End -->


<!-- catalog Begin -->

<section class="catalog">
  <div  class="container" id="catalog">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3"><div class="news-line"><hr></div></div>
      <div class="col-md-4"><div class="news-title"><%- catalog %></div></div>
      <div class="col-md-3"><div class="news-line"><hr></div></div>
      <div class="col-md-1"></div>
    </div>

    <!-- catalog blocks Begin -->

      <div class="row">
        <div class="col-md-6">
          <a href="shop#claas"><div class="catalog__block"><img src="../images/claas.png" alt="Запчастини виробника CLAAS"></div></a>
        </div>
        <div class="col-md-6">
          <a href="shop#akpil"><div class="catalog__block"><img src="../images/akpil.png" alt="Запчастини виробника AKPIL"></div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="shop#spicer">
            <div class="catalog__block catalog__block-united">
              <img src="../images/spicer.png" alt="Запчастини виробника Spicer">
              <img src="../images/dana.png" alt="Запчастини виробника Dana">
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a href="shop#unirol"><div class="catalog__block"><img src="../images/unirol.gif" alt="Запчастини виробника Unirol"></div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><div class="catalog__block catalog__block-other">
                <img src="../images/carraro.png" alt="Запчастини виробника Carraro  ">
                <img src="../images/amazone.png" alt="Запчастини виробника Amazone  ">
                <img src="../images/horsch.png" alt="Запчастини виробника Horsch">
                <img src="../images/vaderstad.png" alt="Запчастини виробника  Vaderstad ">
                <img src="../images/kuhn.png" alt="Запчастини виробника Kuhn"></div>
              </a>
                  <ul class="dropdown-menu catalog__block-other">
                <li>
                  <a href="shop#carraro">
                    <div class="catalog__block-down">
                      <img src="../images/carraro.png" alt="Запчастини виробника Carraro">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="shop#amazone">
                    <div class="catalog__block-down">
                      <img src="../images/amazone.png" alt="Запчастини виробника Amazone">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="shop#horsch">
                    <div class="catalog__block-down">
                      <img src="../images/horsch.png" alt="Запчастини виробника Horsch">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="shop#vaderstad">
                    <div class="catalog__block-down">
                      <img src="../images/vaderstad.png" alt="Запчастини виробника Vaderstad">
                    </div>
                  </a>
                </li>
                <li>
                  <a href="shop#kuhn">
                    <div class="catalog__block-down">
                      <img src="../images/kuhn.png" alt="Запчастини виробника Kuhn">
                    </div>
                  </a>
                </li>
              </ul>
              </div>
          </div>
        </div>
      </div>
</section>
<!-- catalog End -->

<!-- advantages Begin -->

<section class="advantages">
  <div class="container" id="advantages">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3"><div class="advantages-line"><hr></div></div>
      <div class="col-md-4"><div class="advantages-title"><%- catalog %></div></div>
      <div class="col-md-3"><div class="advantages-line"><hr></div></div>
      <div class="col-md-1"></div>
    </div>

    <!-- advantages blocks Begin -->


    <div class="row">
      <div class="advantages__block-wrapper">
        <div class="advantages__block-rectangle"></div>
        <div class="row">

          <div class="col-md-4">
            <div class="advantages__block">
              <div class="advantages__block-top">
                <div class="advantages__block-circle advantages__block-circle-first"></div>
              </div>
              <div class="advantages__block-title"><%- advantageTitle1 %></div>
              <div class="advantages__block-content"><%- advantage1 %></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="advantages__block">
              <div class="advantages__block-top">
                <div class="advantages__block-circle advantages__block-circle-second"></div>
              </div>
              <div class="advantages__block-title"><%- advantageTitle2 %></div>
              <div class="advantages__block-content"><%- advantage2 %></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="advantages__block">
              <div class="advantages__block-top">
                <div class="advantages__block-circle advantages__block-circle-third"></div>
              </div>
              <div class="advantages__block-title"><%- advantageTitle3 %></div>
              <div class="advantages__block-content"><%- advantage3 %></div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- advantages blocks End -->
</section>
<!-- advantages End -->


<!-- customers Begin 
<section class="customers">
  <div  class="container" id="customers">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3"><div class="news-line"><hr></div></div>
      <div class="col-md-4"><div class="news-title">Наші клієнти</div></div>
      <div class="col-md-3"><div class="news-line"><hr></div></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators 
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides 
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-empty"></div>
            <img src="../images/customers-img1.png">
            <img src="../images/customers-img2.png">
            <img src="../images/customers-img3.png">
            <img src="../images/customers-img4.png">
            <img src="../images/customers-img5.png">
            <img src="../images/customers-img6.png">
          </div>
          <div class="item">
            <div class="carousel-empty"></div>
            <img src="../images/customers-img2.png">
            <img src="../images/customers-img3.png">
            <img src="../images/customers-img4.png">
            <img src="../images/customers-img5.png">
            <img src="../images/customers-img6.png">
            <img src="../images/customers-img7.png">
          </div>
          <div class="item">
            <div class="carousel-empty"></div>
            <img src="../images/customers-img3.png">
            <img src="../images/customers-img4.png">
            <img src="../images/customers-img5.png">
            <img src="../images/customers-img6.png">
            <img src="../images/customers-img7.png">
            <img src="../images/customers-img1.png">
          </div>
          <div class="item">
            <div class="carousel-empty"></div>
            <img src="../images/customers-img4.png">
            <img src="../images/customers-img5.png">
            <img src="../images/customers-img6.png">
            <img src="../images/customers-img7.png">
            <img src="../images/customers-img1.png">
            <img src="../images/customers-img2.png">
          </div>
          <div class="item ">
            <div class="carousel-empty"></div>
            <img src="../images/customers-img5.png">
            <img src="../images/customers-img6.png">
            <img src="../images/customers-img7.png">
            <img src="../images/customers-img1.png">
            <img src="../images/customers-img2.png">
            <img src="../images/customers-img3.png">
          </div>
          <div class="item">
            <div class="carousel-empty"></div>
            <img src="../images/customers-img6.png">
            <img src="../images/customers-img7.png">
            <img src="../images/customers-img1.png">
            <img src="../images/customers-img2.png">
            <img src="../images/customers-img3.png">
            <img src="../images/customers-img4.png">
          </div>
          <div class="item">
            <div class="carousel-empty"></div>
            <img src="../images/customers-img7.png">
            <img src="../images/customers-img1.png">
            <img src="../images/customers-img2.png">
            <img src="../images/customers-img3.png">
            <img src="../images/customers-img4.png">
            <img src="../images/customers-img5.png">
          </div>
          <!-- Controls 
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- customers End 
-->



<section class="about">
  <div  class="container" id="about">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3"><div class="news-line"><hr></div></div>
      <div class="col-md-4"><div class="news-title"><%- weOnMap %></div></div>
      <div class="col-md-3"><div class="news-line"><hr></div></div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section>
<section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4153.838876943467!2d25.80433301862505!3d50.417615473877184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f9cfb286db607%3A0x834876c33566ef8c!2z0LLRg9C70LjRhtGPINCm0LXQvdGC0YDQsNC70YzQvdCwLCDQoNCw0YfQuNC9LCDQoNGW0LLQvdC10L3RgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgMzU2MDk!5e0!3m2!1suk!2sua!4v1478605356128" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen=true></iframe>
</section>

<!-- footer Begin -->
<%- include ../parts/footer.ejs %>
<!-- footer End -->

<a href="#" class="scrollup"><span class="glyphicon glyphicon-chevron-up"></span></a>
<div id="slideout"><%- callUs %>
  <div id="slideout_inner">
    <%- ourContacts %>
    <div>+380 67 320 30 11</div>
<!--
    <div>+380 67 320 30 11</div>
    <div>+380 67 320 30 11</div>
-->
    <br>
    <div>e-mail: </div>
    <div>danuliukmikhailo@gmail.com</div>
  </div>
</div>


<script src="../javascripts/scroll.js"></script>
<script src="../javascripts/script.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>


</body>
</html> 