<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Agrico Group - Запчастини до с/г техніки</title>
	<meta content="" name="description" />
	<link rel="shortcut icon" href="favicon.png" />

	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css " />
	<link rel="stylesheet" href="../stylesheets/fonts.css" />
	<link rel="stylesheet" href="../stylesheets/shop.css" />
	<!-- <link rel="stylesheet" type="text/css" href="css/media.css"> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<!-- header Begin -->
<header id="header">
<div class="container-fluid header-fluid">
    <nav>
    <div class="logo-box">
      <div class="logo">
        <a href="/">
          <img src="../images/logo.jpg">
        </a>
      </div>
    </div>
    <ul id="menu">
      <li><a href="#news">
          <span class="menu__link-text frontend" name="news"><%- news %></span>
      </a></li>
      <li>|</li>
      <li><a href="#catalog">
          <span class="menu__link-text frontend" name="catalog"><%- catalog %></span>
      </a></li>
      <li>|</li>
      <li><a href="#about">
          <span class="menu__link-text frontend" name="aboutUs"><%- aboutUs %></span>
      </a></li>
      <li>|</li>
      <li><a href="#advantages">
          <span class="menu__link-text frontend" name="ourAdvantages"><%- ourAdvantages %></span>
      </a></li>
      <li>|</li>
      <li><a href="#contacts">
          <span class="menu__link-text frontend" name="contacts"><%- contacts %></span>
      </a></li>
      <li class="search">
        <form action="" class="search__form">
            <input type="text" name="" id="" class="search__input">
            <input type="submit" name="" value="" class="search__submit">
        </form>
      </li>
      <div class=""></div>
   </ul>
  </nav>
  <div class="language-button">
   <a href="/ua">Укр</a>
   <a href="/ru">Рус</a>
  </div>
</div>
</header>
<!-- header End -->

<section class="market">
	<div  class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3"><div class="title-line"><hr></div></div>
			<div class="col-md-4"><div class="title-title"><%- search %></div></div>
			<div class="col-md-3"><div class="title-line"><hr></div></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="market__left-menu">
					<div class="market__left-menu-search">
						<form  id="form1" name="myform" >
							<div class="market-search__form">
								<label><div><%- selectArticul %></div></label>
								<input type="search" name="" id="market-search" placeholder="" class="market-search__input" oninput="changeArticul()" >

							</div>
							<b><%- selectManufacturer %></b><br>

							<!--<p><input type="button" value="Шукати" class="submit-button" onclick="searchGoods()" id="button"></p>-->
						</form>
						<div class="manufact-button">
							<a href="#CLAAS" ><input type="button"  name="Manufacturer" value="CLAAS"  class="CLAAS" onclick="searchGoods(this)"></a>
							<a href="#AKPIL" ><input type="button"  name="Manufacturer" value="AKPIL" class="AKPIL"  onclick="searchGoods(this)"></a>
							<a href="#SPICER" ><input type="button"  name="Manufacturer" value="SPICER" class="SPICER"  onclick="searchGoods(this)"></a>
							<a href="#UNIROL" ><input type="button"  name="Manufacturer" value="UNIROL"  class="UNIROL" onclick="searchGoods(this)"></a>
							<a href="#CARRARO" ><input type="button"  name="Manufacturer" value="CARRARO" class="CARRARO"  onclick="searchGoods(this)"></a>
							<a href="#AMAZONE" ><input type="button"  name="Manufacturer" value="AMAZONE" class="AMAZONE"  onclick="searchGoods(this)"></a>
							<a href="#HORSCH" ><input type="button"  name="Manufacturer" value="HORSCH" class="HORSCH" onclick="searchGoods(this)"></a>
							<a href="#VADERSTAD" ><input type="button"  name="Manufacturer" value="VADERSTAD"  class="VADERSTAD" onclick="searchGoods(this)"></a>
							<a href="#KUHN" ><input type="button"  name="Manufacturer" value="KUHN" class="KUHN" onclick="searchGoods(this)"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="table-responsive">
					<table class="table  table-condensed table-hover table-responsive " style="table-layout:fixed; ">
						<thead>
							<tr>
								<th style="width: 30px; overflow: hidden;">№</th>
								<th style="width: 150px; overflow: hidden;">articul</th>
								<th style="width: 300px; overflow: hidden;">name</th>
								<th style="width: 200px; overflow: hidden;">manufact</th>
							</tr>
						</thead>
						<tbody id="example">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>



</section>
<section>

</section>

<!-- footer Begin -->
<%- include ../parts/footer.ejs %>
<!-- footer End -->

<a href="#" class="scrollup"><span class="glyphicon glyphicon-chevron-up"></span></a>
<div id="slideout"><%- callUs %>
	<div id="slideout_inner">
		<%- ourContacts %>
		<div>+380 67 320 30 11</div>
		<!--
		<div>+380 67 320 30 11</div>
		<div>+380 67 320 30 11</div>
		-->
		<br>
		<div>e-mail: </div>
		<div>danuliukmikhailo@gmail.com</div>
	</div>
</div>

<script type="text/javascript">
	// scroll to top
	$(document).ready(function(){
		$(window).scroll(function(){
			if ($(this).scrollTop() > 100) {
				$('.scrollup').fadeIn();
			} else {
				$('.scrollup').fadeOut();
			}
		});
		$('.scrollup').click(function(){
			$("html, body").animate({ scrollTop: 0 }, 600);
			return false;
		});
	});
</script>
<script>

	var anchor = window.location.hash;

	document.getElementsByClassName(window.location.hash.slice(1).toUpperCase())[0].style.backgroundColor='#a94652';
		searchGoods(window.location.hash.slice(1).toUpperCase());

	 function changeArticul(){
		// number=document.getElementsByClassName('number')[0].innerHTML;
		 searchValue =document.getElementById('market-search').value;
		  manufacturer=anchor = window.location.hash.slice(1).toUpperCase();

		 var xhr = new XMLHttpRequest();
		 xhr.onreadystatechange = function () {
			 if (xhr.readyState == 4 && xhr.status == 200) {

				 document.getElementById('example').innerHTML= xhr.responseText||'<tr><td></td><td></td><td>'+'Такого товару не існує'+'</td></tr>';
			 }

			 if (xhr.readyState == 4 && xhr.status != 200) {
				 alert('error');
			 }
		 };
		 xhr.open('POST', '/search', true);
		 xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=utf-8");
         var data = 'searchValue='+searchValue+ '&manufacturer='+ manufacturer+ '&counter='+ 'undefined';
		 xhr.send(data);


	 }

	function searchGoods(e,counter) {
		//number=document.getElementsByClassName('number')[0].innerHTML;
		var x = window.location.hash.replace('#','');
		if(e.value!=x) {
			document.getElementById('market-search').value = '';
		}
			searchValue = document.getElementById('market-search').value;
			manufacturer = e.value || e;

			for (var i = 0; i < document.getElementsByName('Manufacturer').length; i++) {
				document.getElementsByName('Manufacturer')[i].style.backgroundColor = '#4f9fd5';
			}
			document.getElementsByClassName(manufacturer)[0].style.backgroundColor = '#a94652';
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function () {
				if (xhr.readyState == 4 && xhr.status == 200) {
					// console.dir(event);

					document.getElementById('example').innerHTML = xhr.responseText || '<tr><td></td><td></td><td>' + 'Сторінка в процесі розробки' + '</td></tr>';
				}

				if (xhr.readyState == 4 && xhr.status != 200) {
					alert('error');
				}
			};
			xhr.open('POST', '/search', true);
			xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=utf-8");
			var data = 'searchValue=' + searchValue + '&manufacturer=' + manufacturer + '&counter=' + counter;
			xhr.send(data);
	}
</script>